/* Add styling for your page here */
.App {}

.Body {
    background-color: #7CD09E;
    display: flex;
    flex-direction: row;
}

.BakeryItem {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 2%;
    padding: 2%;
    background-color: #E3FCED;
    border-radius: 12px;
}

.ItemArea {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    padding: 2%;
}

.CartArea {
    width: 40%;
}
